body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

#mainDiv {
    background-color: rgb(211, 210, 210);
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
#displayContainer {
    background-color: rgb(7, 7, 105);
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#displayDiv {
    background-color: rgb(236, 234, 234);
    width: 450px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    background-color: rgb(176, 170, 170);
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 4em;
    padding: 5px;
}

#keyDiv {
    width: 425px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonRow {
    width: 400px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 80px;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    border-radius: 10px;
}

.button:hover {
    cursor: pointer;
}

.num {
    background-color: rgb(7, 7, 105);
    color: white;
}

.operator {
    background-color: rgb(241, 241, 62);
}

.red {
    background-color: rgb(250, 80, 80);
}

.clear {
    background-color: white;
}